.sizes{
	text-align: left;
}
.line{
	width: 30px;
	padding-top: 0px;
	margin-top: 0px;
	border: 1px solid yellow;
}
.sizebtn{
	border-radius: 90px;
	margin: 2px;
	width: 39px;
	height: 39px;
	text-align: left;
	font-size: 10px;
	/*padding-right: 20px;*/
	background-color: lightgrey;
	padding: auto;
}
.col1 > p{
	color: lightgrey;
	font-size: 12px;
}
.navcol2{
	background-color: #fff;
	border: none;
}
.navcontent{
	padding-top: 8px;
}
.cartbtn{
	width: 190px;
	color: #fff;
	background-color: black;
	border-radius: none;
	height: 50px;
	font-size: 17px;
	padding-top: 10px;
}
.thumbnail > img {
    display: block;
    max-width: 250px;
    height: 180px;
}
.wholesaleamount{
	color: lightgrey;
}
.amount{
	font-size: 20px;
}
.thumbnailborder{
	border: none;
}
.btn848{
	width: 45px;
}
.btnstar{
	background-color: #eae9e9;
}
.free{
	width: 80px;
	height: 20px;
	background-color: black;
	color: #fff;
	font-size: 12px;
	padding-top: 2px;

}
.freecontainer{
	float: right;
	margin-right: 15px;
}
.freenone{
	background-color: #fff;
	color: #fff;
}