h1{
	background-color: pink;
	text-align: center;
	color: white;
	height: 125px;
}
h2{
	background-color: brown;
	color: white;
	height: 125px;
	text-align: center;
}
h3{
	background-color: red;
	height: 125px;
	text-align: center;
	color: white;
}
h4{
	background-color: orange;
	height: 125px;
	text-align: center;
	color: white;
}